body {
    margin: 0;
    padding: 0;
    background-color: #FAFBFF;
}

header {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #0018a4;
}

h2 {
    font-size: 25px;
}

.placeholder h3 {
    text-align: center;
}

h4 {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 10px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.filter-group,
.sort-group {
    text-align: center;
}

/* BUTTON STYLING */
.filter-btn,
.sort-btn {
    border: 2px solid #fafbff00;
    padding: 8px 17px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    color: #0018a4;
    font-family: 'futura';
} 

.filter-btn {
    background-color: #ccffe2;
}

.sort-btn {
    background-color: #ffecea;
}

.filter-btn:hover, 
.sort-btn:hover {
    border: 2px solid #0018a4;
}

.filter-btn.active {
    background-color:#0018a4;
    color: white;
}
 .sort-btn.active {
    background-color: #FF6589;
    color: white;
    border: 2px solid #FF6589;
 }

/* PLACEHOLDER, RECIPE-CARDS */

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 5px;
    margin: 20px;
}

.recipe-content {
    display: none; /* Only showing the placeholder image until filterbutton clicked*/
}

.recipe-card, 
.placeholder {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 90%; 
    max-width: 300px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placeholder p {
    opacity: 0;
    animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity: 1;}
}

.recipe-card p {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}    

.recipe-card img {
    width: 100%;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;

}
.recipe-card ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

hr {
    border: none;
    height: 2px;
    background-color: #cccccc50;
}

@media (min-width: 768px) { 
    .recipe-container {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .recipe-card, 
    .placeholder {
        flex: 1;
        width: auto;
    }
}